<%= form_with model: @task, class: "form" do |f| %>
  <h1><%= form_title %></h1>
  <p><%= form_sub %></p>
  <p>
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description, "Description:" %>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :due_date, "Due date:" %>
    <%= f.text_field :due_date %>
  </p>
  <%= f.submit "Save", class: "task-button" %>
<% end %>
