<main>
  <h2>All Tasks</h2>
  <% count = 1 %>
  <% @tasks.each do |task| %>
    <article>
      <% if task.completion_date.nil? %>
        <% complete_action = "Mark Complete" %>
        <% status = "incomplete" %>
      <% else task.completion_date.nil? %>
        <% complete_action = "Unmark Complete" %>
        <% status = "complete" %>
      <% end %>
      <h3 class="<%= "#{status}" %>">
        <%= "#{count}. " %><%= link_to "#{task.name}", task_path(task.id), method: :get, class: "#{status}" %>
      </h3>
      <sub>
        <%= link_to complete_action, mark_task_complete_path(task.id), method: :patch, class: "#{status}" %> |
        <%= link_to "Edit", edit_task_path(task.id), method: :get, class: "#{status}" %> |
        <%= link_to "Delete", task_path(task.id), method: :delete, class: "#{status}", data: {confirm: 'Are you sure?'} %>
      </sub>
    </article>
    <% count += 1 %>
  <% end %>
</main>
