<main>
  <h2>All Tasks</h2>
  <% count = 1 %>
  <% @tasks.each do |task| %>
    <article>
      <h3><%= "#{count}. " %><a href="/tasks/<%= task[:name] %>"><%= "#{task[:name]}" %></a></h3>
      <sub>
        <a href="/tasks/<%= "/" %>"><%= "Mark Complete" %></a> |
        <a href="/tasks/<%= "/" %>"><%= "Edit" %></a> |
        <a href="/tasks/<%= "/" %>"><%= "Delete" %></a>
      </sub>
    </article>
    <% count += 1 %>
  <% end %>
</main>
