<!DOCTYPE html>
<html>
  <head>
    <title>TaskList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>Task Tracker</h1>
    </header>
    <nav>
      <ul>
        <li><a href="/tasks" class="button">All Tasks</a></li>
        <li><a href="" class="button">Add Task</a></li>
      </ul>
    </nav>
    <%= yield %>
    <footer>
      <p>(c) 2018
    </footer>
  </body>
</html>
